common/xml/xsd/test-results.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="test-results">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="test">
        <xs:complexType>
          <xs:all>
            <xs:element name="item" type="xs:string" />
            <xs:element name="outcome" type="xs:float" />
            <xs:element name="passed" type="xs:boolean" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>